.block1{
    float: inline-start;
    border: 6px;
    width: 200px;
    height: 226px;
    background-color: rgb(202, 97, 97);
    text-align: center;
}

.block2{
    border: 6px;
    width: 200px;
    height: 226px;
    float: right ;
    background-color: rgb(155, 52, 52);
    text-align: center;    
}


.block3{
    border: 6px;
    width: 200px;
    height: 226px;
    background-color: rgb(161, 14, 14);
    text-align: center;
    
}




