.card{
    position: absolute;
    width: 200px;
    height: 260px;
    background-color:antiquewhite
}

.text{
    text-align: center;
}

.img{
    position: absolute;
    width: 130px;
    height: 130px;
}