.block1{
    border: 4px;
    width: 200px;
    height: 226px;
    background-color: darkgray;
    text-align: center;
}

.block2{
    border: 4px;
    width: 200px;
    height: 226px;
    background-color: darkgray;
    text-align: center;

    
}

.block3{
    border: 4px;
    width: 200px;
    height: 226px;
    background-color: darkgray;
    text-align: center;
    mask-image: url(/images/111.jpg);
    
}



